p {
 font-weight: bold;
 font-size: 20px;
 font-family: praise , cursive;
}

body {
    background-image: url('https://wallpaperaccess.com/full/2029165.jpg');
}


#body_2 {
    background-image: url('')
}